<div class="card">
  <header class="card-header d-flex">
    @if (icon) {
      <i class="me-2 bi" [ngClass]="icon"></i>
    }
    <div>
      <h5 class="card-title">{{ title }}</h5>
      @if (subtitle) {
        <h6 class="card-subtitle text-muted">{{ subtitle }}</h6>
      }
    </div>
  </header>

  <div class="card-body">
    <ng-content select="[c-body]"></ng-content>
  </div>

  <footer class="card-footer d-flex justify-content-end">
    <small class="text-muted">
      <ng-content select="[c-footer]"></ng-content>
    </small>
  </footer>
</div>
