/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap";
/* Importing Bootstrap Icon SCSS file. */
@use "bootstrap-icons/font/bootstrap-icons.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  @extend .btn;
}

.card {
  img {
    @extend .card-img;
  }
  p {
    @extend .card-text;
  }
  h5 {
    @extend .card-title;
  }
  h6 {
    @extend .card-subtitle;
    @extend .text-muted;
  }

  // Styles for links inside cards
  a {
    @extend .card-link;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline: none;
    }
  }
  button {
    @extend .card-link;
  }

  .card-body,
  .card-footer {
    button {
      &:first-of-type {
        @extend .btn-primary;
      }
      &:nth-of-type(2) {
        @extend .btn-secondary;
      }
    }
  }
}
