<div class="container">
  <div class="row">
    <div class="col-4">
      <ui-card title="iPhone 14" subtitle="128GB" icon="bi-phone">
        <div c-body>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quas voluptatum aut eligendi dolores! Velit
            temporibus sequi quidem accusamus, reiciendis possimus, quos rerum eos laborum ad eaque animi repellat
            perferendis?
          </p>
          <button>Go somewhere</button>
          <button>Go somewhere</button>
        </div>
        <div c-footer>
          Last updated 3 mins ago
          <a href="#">Edit</a>
        </div>
      </ui-card>
    </div>
    <div class="col-4">
      <ui-card title="iPhone 14 Pro">
        <ng-container c-body>
          <h5>This is a title</h5>
          <h6>This is a subtitle</h6>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quas voluptatum aut eligendi dolores! Velit
            temporibus sequi quidem accusamus, reiciendis possimus, quos rerum eos laborum ad eaque animi repellat
            perferendis?
          </p>
        </ng-container>
        <ng-container c-footer>
          <button>Edit</button>
        </ng-container>
      </ui-card>
    </div>
    <div class="col-4">
      <ui-card title="Chameleon" icon="bi-tree-fill">
        <ng-container c-body>
          <img
            src="https://letsenhance.io/static/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg"
            alt="Placeholder image" />
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quas voluptatum aut eligendi dolores! Velit
            temporibus sequi quidem accusamus, reiciendis possimus, quos rerum eos laborum ad eaque animi repellat
            perferendis?
          </p>
          <a href="#">Picture 1</a>
          <a href="#">Picture 2</a>
          <a href="#">Picture 3</a>
        </ng-container>
        <ng-container c-footer>
          <button>Buy now</button>
          <button>
            <i class="bi bi-cart"></i>
          </button>
        </ng-container>
      </ui-card>
    </div>
  </div>
</div>
